.body {
  margin: 0;
  background-color: Cornsilk;
}

.cabecalho {
  color: Peru;
  background-color: LemonChiffon;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
  font-family: "Poppins";
}

.cadastro h1 {
  font-family: "Poppins";
  text-align: center;
  padding-top: 30px;
  color: Sienna;
}

.cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastro form {
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-family: "Poppins";
  border: 1px solid Grey;
  border-radius: 2px;
}
