.body {
  margin: 0;
  background-color: Cornsilk;
}

.corpoInicio img {
  padding: 100px;
  margin-left: 25%;
}
.cabecalho {
  color: Peru;
  background-color: LemonChiffon;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
  font-family: "Poppins";
  display: flex;
  align-content: space-around;
}

.cabecalho a {
  font-family: "Poppins";
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}

.cabecalho ul {
  list-style: none;
}

.cadastro h1 {
  font-family: "Poppins";
  text-align: center;
  padding-top: 30px;
  color: Sienna;
}

.cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastro form {
  height: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-family: "Poppins";
  border: 1px solid Grey;
  border-radius: 2px;
}

.cadastro input {
  height: 25px;
}

.cadastro button {
  height: 40px;
  width: 80px;
  margin: auto;
}

.tabela {
  border-collapse: collapse;
  background: #fffff0;
  margin: 50px 25%;
  font-family: "Poppins";
  font-size: 15px;
}

.tabela td {
  border: 1px solid black;
}

.tabela th {
  border: 1px solid black;
  background: #f0fff0;
}

.tabCal {
  border: 1px solid peru;
  border-radius: 10px;
  padding: 30px;
  font-family: "Poppins";
  color: peru;
  font-size: 15px;
  margin: 50px 25%;
}

.tabCal input {
  border-radius: 5px;
  border: 1px solid peru;
}

.tabCal button {
  font-family: "Poppins";
  color: black;
}

.filtro {
  font-family: "Poppins";
  margin: 50px 25%;
}
